$white: #ffffff;
$black: #000000;
$red: #f6511d;
$blue: #2c94e2;
$yellow: #ffb400;
$green: #00ccc2;

$superDarkGrey: #324457; // Text color
$darkGrey: #979797; // Text second color
$grey: #b4b4b4; // Form borders and lines
$lightGrey: #c4c4c4; // Disabled elements
$superLightGrey: #f6f6f6; // Background (Section, table, dropdown options ...)

$backDropBackColor: rgba(0, 0, 0, 0.2);
$hoverTransition: 0.2s ease;

$blueHover: #4383cd; // Buttons hover
$redHover: #d7481b; // Buttons hover

$error: #f6511d;
