@import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 400, 600, 700');
@import './styles/_fonts.scss';
@import './styles/_variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: $superDarkGrey;
  background-color: $superLightGrey;
}

html,
body,
#root,
.page-content {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

button {
  outline: none;
}

#root {
  display: grid;
  grid-template-rows: 58px auto;
}

.content {
  padding: 20px;
}

.page-header {
  display: flex;
  // align-items: center;
  align-content: center;
  margin-bottom: 10px;

  .back-btn {
    font-size: 10px;
    line-height: 12px;
    padding: 9px 10px 7px;
    margin-right: 2px;
    min-width: 0;
    border-radius: 0;

    .icon {
      font-size: 14px;
      margin-bottom: 8px;
      display: block;
      font-weight: 600;
    }
  }
}

.page-title {
  margin: 0;
  display: flex;
  align-items: center;
  background-color: $blue;
  flex: 1;
  height: 50px;
  padding: 0 10px;
  color: $white;
  font-size: 28px;
  font-weight: normal;

  .icon {
    margin-right: 10px;
    font-size: 24px;
  }
}

.section-form {
  border: 1px solid $grey;
  background-color: $white;

  &-title {
    font-size: 20px;
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid $grey;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;

    .btn-add {
      font-size: 10px;
      line-height: 10px;
      padding: 7px 12px;
      min-width: 0;
      border-radius: 0;

      .icon {
        font-size: 15px;
        margin-bottom: 6px;
        display: block;
        font-weight: 600;
      }
    }
  }

  &-fields {
    padding: 10px;
    font-size: 14px;

    .SPOInputContainer {
      width: 100%;
    }
  }

  .form-buttons {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;

    &.one-right {
      justify-content: flex-end;
    }
  }
}
