@import 'styles/_variables.scss';

.settings-page {
  .page-content {
    display: flex;
    justify-content: space-between;

    .left-column {
      padding-right: 5px;
      flex: 1;
    }

    .right-column {
      padding-left: 5px;
      flex: 1;
    }
  }

  .section-info {
    grid-area: info;
    margin-bottom: 10px;
  }

  .section-namespaces {
    grid-area: namespaces;
    margin-bottom: 10px;
  }

  .section-languages {
    grid-area: languages;
    margin-bottom: 10px;
  }

  .section-users {
    grid-area: users;
    margin-bottom: 10px;
  }
}
